<div id="body">
    <form name="form" novalidate>
        <div class="input-block">
            <h3>Investigator 1<span class="required">*</span></h3>
            <input class="custom-text-input" type="text" name="user_1_first" ng-model="input.user_1.first_name" required="true" placeholder="First Name" autocomplete="off" />
            <input class="custom-text-input" type="text" name="user_1_last" ng-model="input.user_1.last_name" required="true" placeholder="Last Name" autocomplete="off" />
        </div>
        <div class="input-block">
            <h3>Investigator 2 <span class="optional">(Optional)</span>
            </h3>
            <input class="custom-text-input" type="text" name="user_2_first" ng-model="input.user_2.first_name" placeholder="First Name" autocomplete="off" />
            <input class="custom-text-input" type="text" name="user_2_last" ng-model="input.user_2.last_name" placeholder="Last Name" autocomplete="off" />
        </div>
        <div class="input-block">
            <h3>Device Info<span class="required">*</span></h3>
            <input class="custom-text-input" type="text" name="device_man" ng-model="input.device.manufacturer" placeholder="Manufacturer" required="true" autocomplete="off" />
            <input class="custom-text-input" type="text" name="device_model" ng-model="input.device.model" placeholder="Model" required="true" autocomplete="off" />
            <input class="custom-text-input" type="text" name="device_version" ng-model="input.device.version" placeholder="Version" autocomplete="off" />
            <input class="custom-text-input" type="text" name="device_year" ng-model="input.device.year_manufactured" placeholder="Year Manufactured" autocomplete="off" />
        </div>
        <div class="input-block">
            <h3>OWASP Category<span class="required">*</span></h3>
            <p class="category" ng-repeat="item in categories">
                <input type="checkbox" id="{{item.id}}" name="category[]" value="{{item.name}}" ng-checked="selection.indexOf(item) > -1" ng-click="toggleSelection(item)" title="{{item.id}}" />
                <label for="{{item.id}}">{{item.name}}</label>
                <i class="material-icons tiny info-button">info_outline</i>
            </p>
        </div>
        <div class="input-block">
            <h3>Testing Tool<span class="required">*</span></h3>
            <input class="custom-text-input" type="text" name="tool" ng-model="input.tool.name" placeholder="Tool Name" autocomplete="off" required="true" />
            <div class="row">
                <div class="input-field col s12">
                    <p class="textarea-label">All of the tools used will have many variable or parameters that can be configured. This may be through check boxes on a GUI interface or through switches. If you are using a tool with a GUI, provide a bullet list of all the variables you used. If working at the CLI, enter the syntax you used. For example, if you were wanting to determine a device's operating system you would execute the following command and switches:</p>
                    <pre class="cli">nmap -O -v [ip address]</pre>
                    <textarea id="toolParams" class="materialize-textarea" required="true" ng-model="input.toolParams" placeholder="Tool Parameters" spellcheck="false"></textarea>
                </div>
            </div>
        </div>
        <div class="input-block">
            <h3>Observations <span class="required">*</span>
            </h3>
            <div class="row">
                <div class="input-field col s12">
                    <p class="textarea-label">In as much detail as possible, describe the outcome of the test. What was it able to accomplish? What information did it reveal?</p>
                    <textarea id="observations" class="materialize-textarea" required="true" ng-model="input.observations" placeholder="Observations" spellcheck="true"></textarea>
                </div>
            </div>
        </div>
        <div class="input-block">
            <h3>Implications <span class="optional">(Optional)</span>
            </h3>
            <div class="row">
                <div class="input-field col s12">
                    <p class="textarea-label">What are the implications of this test? How can the observation be used? What do you think this could lead to?</p>
                    <textarea id="toolParams" class="materialize-textarea" ng-model="input.implications" placeholder="Implications" spellcheck="true"></textarea>
                </div>
            </div>
        </div>
        <div class="input-block">
            <h3>Files <span class="optional">(Optional)</span>
            </h3>
            <div class="row">
                <div class="input-field col s12">
                    <p class="textarea-label">Upload any research or observations files to the shared Google Drive folder and copy the share URL(s) here.</p>
                    <input type="url" name="url{{$index}}" ng-repeat="entry in urlEntries track by $index" placeholder="https://drive.google.com/file" pattern="^(([^:/?#]+):)?(//([^/?#]*))?([^?#]*)(\?([^#]*))?(#(.*))?" autocomplete="off" ng-model="input.url[$index]" ng-change="urlTyping($index, input.url[$index])" />
                    <button class="btn-floating btn waves-effect waves-light blue" ng-click="addFileUrl()" ng-disabled="disableAddFileButton"><i class="material-icons">add</i></button>
                </div>
            </div>
        </div>
        <div class="input-block submission-area">
            <button class="btn waves-effect waves-light" type="reset" name="reset">Reset
                <i class="material-icons left">clear</i>
            </button>
            <button class="btn waves-effect waves-light" type="submit" name="action" ng-disabled="form.$invalid" ng-click="submit()">Submit
                <i class="material-icons right">send</i>
            </button>
        </div>
    </form>
</div>