@import 'https://fonts.googleapis.com/css?family=Raleway:200,400,700&subset=latin-ext';
* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

html {
    overflow: hidden;
    height: 100%;
}

body {
    background-color: #eceff1;
    height: 100%;
    overflow: auto;
}

input,
textarea,
button,
div[role="button"],
input:focus,
textarea:focus,
button:focus,
div[role="button"]:focus {
    outline: none;
    box-shadow: none;
    border: none;
    max-width: 500px;
}

p {
    max-width: 650px;
}

header.nav {
    position: fixed;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: flex-start;
    justify-content: flex-start;
    height: 100px;
    background-color: #0277bd;
    box-shadow: 0px 1px 1px 2px rgba(2, 136, 209, 0.3);
    padding: 5px;
    z-index: 10;
}

.header-filler {
    position: relative;
    height: 100px;
    width: 100%;
    display: block;
    z-index: -1;
}

header.nav > div {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 100%;
}

header.nav > .logo {
    flex-basis: 120px;
}

header.nav > .logo img {
    max-height: 100%;
    max-width: 100%;
}

header.nav > .nav-button {
    flex-basis: 120px;
    max-width: 180px;
    min-width: 120px;
    height: 60px;
    margin: auto 5px;
    position: relative;
    transition: 0.2s;
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
    color: #FFF;
}

/*
header.nav > .nav-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    z-index: 2;
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.3);
}

header.nav > .nav-button:active {
    box-shadow: 0px -2px 2px rgba(0, 0, 0, 0.3);
}
*/

header.nav > .nav-button > a {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    font-weight: 700;
    font-size: 1.4em;
    text-align: center;
    width: 100%;
    display: block;
    transition: text-shadow 0.3s;
    transition-delay: text-shadow 0.2s;
    line-height: normal;
}

header.nav > .nav-button:hover > a {
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 550px) {
    header.nav {
        height: 60px;
        padding: 2px;
    }
    .header-filler {
        height: 60px;
    }
    header.nav > .nav-button {
        height: 50px;
        margin: auto 2px;
        flex-basis: 70px;
        min-width: 70px;
    }
    header.nav > .nav-button > a {
        font-size: 0.75em;
    }
}

header.nav > .nav-button.current {
    background-color: rgba(255, 255, 255, 0.2);
}

div[ui-view] {
    padding: 30px;
}

@media screen and (max-width: 550px) {
    div[ui-view] {
        padding: 10px;
    }
}
