*::-moz-placeholder {
    color: #78909c;
}

*::-webkit-placeholder {
    color: #78909c;
}

.input-block {
    margin-top: 25px;
}

.input-block:last-child {
    margin-bottom: 20px;
}

.input-block > h3 {
    margin: 10px;
}

.or-block {
    width: 90%;
    height: 2px;
    border-radius: 2px;
    background-color: #E0E0E0;
    margin: 20px auto;
    z-index: 1;
    position: relative;
}

.or-block::after {
    content: "OR";
    text-align: center;
    display: inline-block;
    color: #BDBDBD;
    background-color: #EEE;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1px 5px;
    z-index: 2;
}

input[type="text"]:required:invalid,
input[type="url"]:required:invalid,
input[type="url"].ng-dirty:invalid,
textarea:required:invalid {
    border-bottom-color: #b71c1c;
}

input[type="text"]:required:invalid:focus,
input[type="url"]:required:invalid:focus,
input[type="url"].ng-dirty:invalid:focus,
textarea:required:invalid:focus {
    border-bottom: 1px solid #b71c1c;
    box-shadow: 0 1px 0 0 #b71c1c;
}

input[type="text"]:valid,
input[type="url"]:valid,
textarea:valid {
    border-bottom-color: #388e3c;
}

input[type="text"]:valid:focus,
input[type="url"]:valid:focus,
textarea:valid:focus {
    border-bottom: 1px solid #388e3c;
    box-shadow: 0 1px 0 0 #388e3c;
}

textarea:focus {
    background-color: rgba(255, 255, 255, 0.2);
}

@media screen and (max-width: 550px) {
    .category {
        width: 100%;
    }
}

.required {
    color: #b71c1c;
}

.optional {
    color: #b71c1c;
    vertical-align: super;
    font-size: 0.5em;
}

.input-block .category {
    display: inline-block;
    width: 50%;
    max-width: 480px;
}

@media screen and (max-width: 650px) {
    .input-block .category {
        display: block;
        width: 100%;
    }
}

.input-block .category label {
    color: #455a64;
}


/*  fix an issue with materialize using absolute */

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: relative;
}

[type="checkbox"]:checked + label:before {
    border-bottom-color: #388e3c;
    border-right-color: #388e3c;
}

.input-block .category > .info-button {
    margin-left: 4px;
    line-height: 25px;
    cursor: pointer;
    transition: 0.3s;
}

.input-block .category > .info-button:hover {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.9);
}

.input-block .category > .info-button:active {
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6);
}

.textarea-label {}

textarea.materialize-textarea {
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #9e9e9e;
    border-radius: 2px;
    padding: 5px;
    min-height: 140px;
    background-color: rgba(255, 255, 255, 0.1);
}

pre.cli {
    margin: 7px;
    display: block;
    font-style: italic;
}

input[type="url"] {
    margin: 2px;
}

button.btn[type="reset"] {
    background-color: #d32f2f;
}

button.btn[type="submit"] {
    background-color: #388e3c;
}

.submission-area {
    transition: 0.3s;
}

.submission-area > button {
    transition: 0.3s;
    margin: auto 10px;
}

.dropdown-wrapper {
    min-width: 350px;
    max-width: 500px;
}

@media screen and (max-width:550px) {
    .submission-area {
        height: 20px;
    }
    .submission-area > button:first-child {
        float: left;
    }
    .submission-area > button:last-child {
        float: right;
    }
    .dropdown-wrapper {
        min-width: 0;
        width: 100% !important;
    }
}