modal,
div[modal] {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 999;
}

.modal {
    display: inherit;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.modal-header {
    color: #01579b;
}

.modal.modal-fixed-footer .modal-content {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.modal-block > h5 {
    color: #263238;
}

.modal-block > p {
    font-weight: 300;
}

.modal-block > p > i {
    font-weight: 400;
    font-style: normal;
}
